# Keep API keys and local secrets out of GitHub
.env

# Python virtual environment
venv/

# Python cache files
__pycache__/
*.pyc

# Hide Google credentials 
credentials.json

token.json
# Hide firebase private key
firebase-key.json
*-firebase-adminsdk-*.json